{% extends 'main/base.html'%}
{% block title %} Q App | Index {% endblock %}


{% block body %}

    <div class="row">
        {% for quiz in quizs %}
            <div class="col-4">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title"> <h2>{{quiz.name}}</h2></h5>
                        <p>From {{quiz.date_start}} to {{quiz.date_end}}</p>

                        {% if quiz.date_end >= today.date %}
                            <p>Status: Active</p>
                            <p>will end in {{quiz.date_end}}</p>
                            <a href="{% url 'main:quiz' quiz.id %}" class="btn btn-primary">Go</a>
                        {% else %}
                            <p>Status: finished</p>
                            <h2>The question period has expired.</h2>
                        {% endif %} 

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


<div>
    <canvas id="myChart"></canvas>
</div> 


<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for i in li_users %}'{{i}}',{% endfor %}],
            datasets: [{
                label: 'النقاط',
                data: {{li_points}},
                backgroundColor: [
                    '#2aa499',
                    '#FFDF6B',
                    '#2aa499',
                    '#FFDF6B',
                    '#2aa499'
                ],
                borderColor: [
                    '#2aa499',
                    '#FFDF6B',
                    '#2aa499',
                    '#FFDF6B',
                    '#2aa499'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>


{% endblock %}