
{% extends 'main/base.html'%}
{% block title %} Q App | Index {% endblock %}

{% block body %}
{% if request.user.is_superuser %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Random selection
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Random selection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The winner is: {{random_coAns.created_by.username}} <i class="fas fa-trophy"></i>
      </div>
    </div>
  </div>
</div>
<div class="card mt-2">
    <div class="card-header text-center">
        {{que.text}}
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Answer's User</th>
            <th scope="col">Correct Answer</th>
          </tr>
        </thead>
        <tbody>
            {% for coAn in coAns %}
          <tr>
            <th scope="row">{{coAn.id}}</th>
            <td>{{coAn.created_by}}</td>
            <td>{{coAn.correct_answer}}</td>
            <td> 
              {% if coAn.correct_answer.is_correct == True %}
              <i class="fas fa-check-circle" style='color:#00ff04;'></i>
              {% else %}
                <i class="fas fa-times" style='color:#F00;'></i>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% endif %}

{% endblock %}